[global_config]
  title_hide_sizetext = True
  title_transmit_fg_color = "#bd93f9"
  title_transmit_bg_color = "#282a36"
  title_receive_fg_color = "#8be9fd"
  title_receive_bg_color = "#282a36"
  title_inactive_fg_color = "#f8f8f2"
  title_inactive_bg_color = "#282a36"
  title_use_system_font = False
  title_font = Sans 12
[keybindings]
[profiles]
  [[default]]
    background_color = "#1e1f29"
    cursor_shape = underline
    cursor_color = "#aaaaaa"
    font = Monospace 14
    foreground_color = "#ffffff"
    scrollbar_position = hidden
    palette = "#000000:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#bbbbbb:#555555:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#ffffff"
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
